/* Estilos generales */
body {
    text-align: center; /* Centra el contenido de texto por defecto */
    margin: 0px; /* Elimina márgenes del navegador */
    padding: 0px; /* Elimina el relleno por defecto */
    
    /* Fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        -webkit-font-smoothing: antialiased;
        -moz-font-settings: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

/* Cabecera */
#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 2px solid #ccc;
    border-top: 3px solid #61dafb;
}

.center {
    width: 75%; /* Centra el contenido general */
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

/* Logo */
#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-left: -10px;
    animation: girar infinite 20s linear; /* Gira el logo constantemente */
}

/* Animación del logo girando */
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

/* Menú de navegación */
#menu {
    width: 70%;
    float: right;
    margin-top: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none; 
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a {
    text-decoration: none; /* Quita el subrayado */
    color: #444;
    transition: 300ms all; 
}

#menu a:hover {
    color: #d61717; /* Cambia a rojo al pasar el cursor */
}   

/* Slider (PORTADA) */
#slider {
    width: 100%;
    background:#61dafb ;
    height: 350px;
    color: white;

    /* Fondo en degradado azul */
    text-shadow: 0px 0px 5 px #444;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg, rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
        );
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 140px; /* Centra verticalmente el título */
    text-align: center;
}

/* Botón blanco dentro del slider */
.btn-white {
    color: rgb(128, 128, 128);
    display: block;
    background: white;
    padding: 10px ;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #444; 
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover {
    background: #444;
    color: white;
}

/* Versión pequeña del slider (para otras páginas) */
#slider.slider-small {
    height: 150px;

}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 70px;
}

/* Estructura principal */
#content {
    width: 70%; 
    float: left;
    min-height: 450px;
    margin-right: 20px;
}

#sidebar {
    width: 25%;
    float: left;
}

/* Cajas laterales */
.sidebar-item {
    background: #f7f7f7;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px #ccc;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
    margin:0px auto;
    margin-top: 10px;
}

/* Botones generales */
.btn {
    display: block;
    background: black;
    color: white;
    padding: 15px ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;

}

.btn-success {
    background: green;
}

.btn-success:hover {
    background: black;
}

/* Formularios */
.mid-form {
    width: 50%;
    margin: 0px auto;
}

.mid-form label {
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

/* Efecto al enfocar */
input[type="text"]:focus 
textarea:focus {
    box-shadow: 0px 0px 5px #ccc inset;
}

textarea {
    width: 100%;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 300%;
}

.radiobuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

/* Pie de Página */
#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p {

    margin: 0px;
    padding: 0px;
}

/* Artículos */
.article-item {
    width: 100%;
    border-bottom: 1px solid #eeee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta sin deformar la imagen */
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date {
    display: block;
    width: 100%;
    color: rgb(128, 127, 127);
}

.article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img {
    height: auto;
    width: 100%;
}

.article-detail .subheader {
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}

#search form {
    box-sizing: border-box;
}

form {
    width: 100%;
    text-align: left;
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    resize: vertical;
    font-family: inherit;
}

input[type="radio"] {
    margin-right: 5px;
}

/* RESPONSIVE */

/* Desde la anchura 0px hasta el ancho 1164px de pantalla */
@media(max-width: 1164px){
    /* Se ejecutan estos estilos */
    .center {
        width: 85%;
    }
}

@media(max-width: 1026px){
    /* Se ejecutan estos estilos */
    .center {
        width: 95%;

    }

    #menu ul {
        width: auto;
    }
}

/* Pantallas menores a 918px (vista tablet) */
@media(max-width: 918px){
    /* Se ejecutan estos estilos */
    #logo {
        float: none;
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }

    #menu,
    #menu ul {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1 {
        padding-top: 115px;
        font-size: 25px;
    }
}

/* Pantallas menores a 356px (celular) */
@media(max-width: 356px){
    #header {
        min-height: 130px;
        overflow: hidden;
    }

    #menu
    #menu ul {
        line-height: 50px;
    }

    #menu ul li {
        margin-left: 7px;
        margin-right: 7px;
    }
    
    #slider {
        height: 180px;
    }

    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }

    #slider .btn-white {
        margin-top: 20px;
    }

    #slider .slider-small {
        height: 100px;
    }

    #slider .slider-small h1 {
        padding-top: 35px;
    }

    .mid-form {
        width: 80%;
    }
}
